<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Machine Learning Project Page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./blog.html" title="">03 : Blog</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work.html" title="" class="active">001</a></li>
            <li><a href="./work2.html" title="" class="active">002</a></li>
            <li><a href="./work3.html" title="" class="active">003</a></li>
            <li><a href="./data_viz.html" title="" class="active">004</a></li>
            <li><a href="./deep_learning.html" title="" class="active">005</a></li>
            <li><a href="./etl_sql.html" title="" class="active">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">002 : Machine Learning</h1>
          </div>
          <p style="font-size:12px">This section provides an overview of machine learning projects that I have worked on. GitHub links of each project is provided at each subsection of the project description. To view the project, please click on the GitHub icon which looks like this <i class="fa fa-github" style="font-size:32px"></i> on the respective project subsection below.</p>

       <!--    <blockquote>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <small class="pull-right">Irina Martin</small>
          </blockquote> -->
        </div>
      </div>

                     <!--  <a href="https://github.com/rauts/web-portfolio" title="" class="fa-icon">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a> -->


                      

                    <!--   <h3>Prediction Model</h3>
                      <a href="https://github.com/rauts/web-portfolio" title="" class="fa-icon">
                      <i class="fa fa-github" style="font-size:36px"></i>
                      </a> -->

                      <h3>Regression Model On eCommerce Data</h3>
                      <p style="font-size:12px">In this project, I adviced an eCommerce company whether they put more effort on improving user experience on mobile app or desktop. For this task, I applied multivariate regression model on customer data to find the answer. Please click on GitHub icon below to view the project. 
                      </p>
                        <a href="https://github.com/rauts/eCommerse-RegressionModel/blob/master/eCommerce_LinearRegressionModel.ipynb" title="" class="fa-icon">
                      <i class="fa fa-github" style="font-size:32px"></i>
                      </a>

                    

                      <!--   Please 
                        <a href="https://github.com/rauts/eCommerse-RegressionModel/blob/master/eCommerce_LinearRegressionModel.ipynb">click here </a> to view the project. -->

                   

                      <h3>Logistic Regression Model On Advertising Data</h3>
                      <p style="font-size:12px">This project answers the question whether or not a particular internet user clicked on an Advertisement on a company website. To answer this question, I used a logistic regression model on an addertising dataset. Please click on GitHub icon below to view the project.</p>
                      <a href="https://github.com/rauts/advertisingData_LogisticRegressionModel/blob/master/advertisingData_LogisticRegression.ipynb" title="" class="fa-icon">
                      <i class="fa fa-github" style="font-size:32px"></i>
                      </a>

                       <h3>Decision Tree and Random Forest Model On Loan Data</h3>
                      <p style="font-size:12px">As an investor, you would want to invest in people who showed a profile of having a high probability of paying you back. In this project, I created a model that would help predict this in that I used decision tree and random forest models on a loan dataset. Please click on GitHub icon below to view the project.</p>
                      <a href="https://github.com/rauts/loadData_RandomForestModel/blob/master/loanData_DecisionTrees_and_RandomForestProject.ipynb" title="" class="fa-icon">
                      <i class="fa fa-github" style="font-size:32px"></i>
                      </a>

                      <h3>Support Vector Machine Model On Iris Data</h3>
                      <p style="font-size:12px">Given the properties of an iris flower, the model should predict its type. This is a classification problem, and I created a model that would help predict this for which I used a support vector machine model on an iris dataset. Please click on GitHub icon to view the project.</p>
                      <a href="https://github.com/rauts/irisData_SupportVectorMachineModel/blob/master/irisData_SupportVectorMachinesProject.ipynb" title="" class="fa-icon">
                      <i class="fa fa-github" style="font-size:32px"></i>
                      </a>
                     




                      <!-- <i class="fa fa-github" style="font-size:48px;color:red"></i> -->
    <!--   <div class="col-sm-4">

                      <a href="./work.html" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work01-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/006</h4>
                        <h3>Data Analysis</h3>
                        <p>Here, you will see the projects related to data analysis.</p>
                        <a href="./work.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div> -->
     
      
      <!-- <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/work001-02.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/work001-03.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
        </div>
      </div> -->

      <!-- <div class="col-xs-12">
        <img src="./static/assets/images/work001-04.jpg" class="img-responsive" alt="">
      </div> -->

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>